$s-boy = 0px 0px 0px 0px 24px 24px 48px 48px 'sprite.png';
$s-girl = 24px 0px -24px 0px 24px 24px 48px 48px 'sprite.png';
$s-statistics = 0px 24px 0px -24px 24px 24px 48px 48px 'sprite.png';

sprites = {
    boy: $s-boy,
    girl: $s-girl,
    statistics: $s-statistics,
}
spriteWidth($sprite)
    width $sprite[4]

spriteHeight($sprite)
    height $sprite[5]

spritePosition($sprite)
    background-position $sprite[2] $sprite[3]

spriteImage($sprite)
    background-image url(../img/bg/$sprite[8])

sprite($sprite)
    spritePosition($sprite)
    spriteWidth($sprite)
    spriteHeight($sprite)