$s-crayon = 0px 0px 0px 0px 32px 32px 64px 56px 'sprite.png';
$s-scissors = 0px 32px 0px -32px 24px 24px 64px 56px 'sprite.png';
$s-set-square = 32px 0px -32px 0px 32px 32px 64px 56px 'sprite.png';

sprites = {
    crayon: $s-crayon,
    scissors: $s-scissors,
    set-square: $s-set-square,
}
spriteWidth($sprite)
    width $sprite[4]

spriteHeight($sprite)
    height $sprite[5]

spritePosition($sprite)
    background-position $sprite[2] $sprite[3]

spriteImage($sprite)
    background-image url(../img/bg/$sprite[8])

sprite($sprite)
    spritePosition($sprite)
    spriteWidth($sprite)
    spriteHeight($sprite)